.App {
  text-align: center;
}

.home-page {
  background: url('assets/background-images/DSC_0008.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mantra {
  width: 1000px;
  overflow-wrap: normal;
}

.ant-popover {
  width: 500px;
  max-height: 500px;
  overflow: scrollable;
  overflow-x: hidden;
  overflow-y: auto;
}
